.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  background-color: #082e0018;
}

.about-me-info {
  font-size: large;
  font-weight: bold;
  margin-top: 30px;
  height: 500px;
  padding: 10px;
  overflow-y: scroll;
}

.about-me-pic-container {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 500px;
  padding: 15px;
}

.about-me-pic {
  max-width: 515px;
}

@media screen and (max-width: 767px) {
  .about-me-container {
    width: 80%;
  }

  .about-me-info {
    height: 400px;
    overflow-y: scroll;
  }
}