.about-me {
  display: flex;
  width: 80%;
  height: 500px;
  margin: 0;
  padding: 0;
  background-image: url('../../../assets/bg_info.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 60px 0;
}

.about-me .section-title {
  margin-bottom: 50px;
}

.about-me-container::-webkit-scrollbar {
  color: transparent;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.about-me-info {
  font-size: medium;
  width: 60%;
}