.testimonials {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonials h2 {
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
}

.testimonials h3 {
  text-align: center;
  margin-bottom: 50px;
}

/* .testimonials {
  padding: 40px 40px 80px 40px;
} */

.testimonials .carousel {
  width: 100%;
  max-width: 80%;
  background-color: #082e0018;
  padding-top: 10px;
  border-radius: 15px;
  margin-bottom: 50px;
}



.carousel-item {
  height: 500px;
  animation: spin 10s infinite linear;
  border-radius: 20px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.art-image {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  margin: 10px 10px 20px 10px;
}

.art-text {
  max-width: 70%;
  font-size: 15px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.art-info {
  font-weight: bold;
  text-align: center;
}

.art-info p {
  margin-bottom: 0;
}

.art-info .art-size {
  font-size: 0.9rem;
  color: #656060;
}

/* 
.testimony-footer .client {
  font-size: 1.2rem;
} */

.art-info .art-name {
  font-size: 1.2rem;
  color: #082e00;
  text-transform: uppercase;
  font-weight: bold;
}

/* Dibujos*/

.draws-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #082e0018;
  border-radius: 15px;
  height: 650px;
  overflow-y: scroll;
  max-width: 90%;
  margin-bottom: 50px;
}

.draw-card {
  margin: 10px 20px;
}

.draw-image img {
  height: 250px;
  border-radius: 20px;
}

/* Digital*/
.digdraw-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  justify-content: center;
  background-color: #082e0018;
  border-radius: 15px;
  height: 650px;
  overflow-y: scroll;

}

.digdraw-container .card {
  height: fit-content;
  margin: 5px;
}

.digdraw-container>.card>img {
  height: 300px;
}

.digdraw-container .card-title {
  background-color: #082e008c;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
}


/* Body Paint*/

.bodypaint-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #082e0018;
  height: 680px;
  overflow-y: scroll;
}

.bodypaint-content {
  display: flex;
  flex-direction: row;
  padding: 10px;
  max-height: 350px;
}

.bodypaint-info {
  width: 25%;
  background-color: #000000a1;
  padding: 5px;
  border-radius: 10px 0 0 10px;
  font-size: smaller;
  font-weight: bold;
}

.bodypaint-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 300px;
  width: 75%;
  overflow-x: scroll;
  background-color: #182d556b;
  border-radius: 0 10px 10px 0;
  align-items: center;
}



.bodypaint-gallery img {

  height: 250px;
  margin: 0 5px;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .art-image {
    height: 120px;
    width: 120px;
  }

  .art-text {
    font-size: 15px;
  }

  .draws-container {
    height: 500px;
    justify-content: center;
  }

  .draw-card {
    margin: 10px 10px;
  }

  .draw-image img {
    height: 150px;
    border-radius: 20px;
  }

  .digdraw-container>.card>img {
    height: 180px;
  }


  .bodypaint-container {
    padding: 0;
  }

  .bodypaint-content {
    flex-direction: column;
    max-height: 650px;
    width: 100%;
  }

  .bodypaint-content>div {
    width: 100%;
  }

  .bodypaint-gallery {
    height: 250px;
    border-radius: 0 0px 10px 10px;
  }

  .bodypaint-gallery img {

    height: 200px;
  }

  .bodypaint-info {
    border-radius: 10px 10px 0 0;
  }
}