.contact .section-description {
  color: white;
  font-size: 1.2rem;
}

.contact button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  animation: spin-bg 10s infinite linear;
}

.contact button i {
  color: white;
  font-size: 1.3rem;
  animation: spin-bg-color 10s infinite linear;
  transition: all 0.2s ease-in-out;
  margin: 0 5px;
}

.contact button:hover {
  color: white;
  animation: spin 10s infinite linear;
}

.contact button:hover i {
  color: white;
  animation: none;
  transition: all 0.2s ease-in-out;
}

.contact-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/bg_info.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: column;
  width: 500px;
  padding: 10%;
  height: 400px;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .contact-background {
    width: 80vw;
    height: 300px;
  }

  .contact-background * {
    font-size: 25px;
  }

  .contact button i {
    font-size: medium;
  }

  .contact button {
    font-size: small;
  }
}