.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  height: 90vh;
  width: 90%;
  margin-top: 5%;
}



.hero-info {
  display: flex;
  background-image: url('../../../assets/bg_info.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: column;
  width: 50%;

  padding: 10%;
}

.heroinfo-container {
  width: 100%;
}

.hero-info h2 {
  border-radius: 5px;
  padding: 5px;
  font-size: x-large;
}

.hero-container h1 {
  margin: 0;
}

.hero-pic {
  display: flex;
  justify-content: center;
  width: 50%;
}

.hero-image-developer {

  width: 60%;
  height: 60%;

}

.hero-social-media {
  margin-top: 10px;
  text-transform: uppercase;
}

.hero-social-media a i {
  margin: 0 10px;
  font-size: 1.5rem;
  color: white;
}

@media screen and (max-width: 767px) {

  /*  .hero-pic {
    display: none;
  } */
  .hero-container {
    flex-direction: column;
    height: 100vh;
  }

  .hero-image-developer {

    width: 90%;
    height: 90%;

  }

  .hero-pic {
    width: 100%;
    height: 100%;
    margin-top: 100%;
  }

  .hero-info {
    width: 100%;
    height: 100%;
  }
}